* {
    padding: 5px;
    max-width: 100%;
}

p {
    font-family: 'Dosis', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Finlandica', sans-serif;
}

body {
    background-color:#225560;
}

a {
    display: block;
}

nav a {
    color: white;
    text-decoration: none;
}
a:hover {
   background-color: #225560;
}

button {
    background-color: #CEF2D7;
    border-color: #CEF2D7;
}

header {
    background-color:#225560;
    color: #80CED7;

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    place-items: center;
}

section {
    height: 100%;
    width: 100%;

    background-color: #80CED7;
}
section a:hover {
    color: white;
    background-color: #8C705F;
}

 
ul{
    list-style: none;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: #8C705F;
}

main {
    display: grid;
    grid-gap: 20px;
    text-align: center;
    place-items: center;

}

#templesummary {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#templesummary h2 {
    grid-column: 1 / span 3;
}

.cardimg {
    float: left;
}

#weather {
    grid-column: 1 / span 3;

    display: grid;
    grid-template-rows: 30% 70%;
    place-items: center;
}


#forecastgrid {
    grid-row: 2;
    grid-column: 1 / span 3;
}

footer {
    text-align: center;

    background-color:#225560;
    color: #80CED7;
}

footer a {
    color: #80CED7;
}
footer a:hover {
    color: white;
    background-color: #8C705F;
}

#templesummary button {
    height: 50%;
    width: 75%;
    place-self: center;
}

.blueborder {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.blackborder {
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: 1px;
    padding: 20px;
}

.hidden {
    display: none;
    background-color: #225560;
}

.italic {
    font-style: italic;
}

/* ----- Temple Page ------------ */

#templesection {
    grid-column: 1;

    display: grid;
    grid-gap: 10px;
}

#templeinformation {
    display: grid;
    place-items: center;
}

#maininfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

}

#aboutgrid {
    display: grid;
    grid-gap: 20px;
    place-items: center;
}

#templelinks {
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

#templelinks a{
    color: black;
}

/* ------ Servics Page ------ */

.smallgrid {
    display: grid;
    place-items: center;
}

.smallgrid a {
    color: black;
}


#receptioninfo{
    grid-column: 1 / span 2;
    place-self: center;
}
#receptionimg {
    grid-column: 3 / span 2;
}



label.text {
    display: block;
}

#formbutton {
    background-color: #CEF2D7;
    border: none;
}

input, textarea, select {
    width: 100%;
}

.form {
    text-align: left;
}

#reservegrid {
    grid-column: 2;
}

.formabout{
    grid-column: 2;
}

.form2 {
    grid-row: 2;
    grid-column: 2;
}

.creditcard{
    grid-column: 2;
    grid-row: 3;
}

.formterms {
    grid-column: 2;
    grid-row: 4;
}

#radioroom {
    display: flex;
}

